@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    @font-face {
        font-family: 'rylic';
        src: url('/fonts/gt-walsheim-medium-webfont_oz9fb2.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}